[project]
	description = Storage Performance Development Kit - http://spdk.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bsedyang
[access "refs/for/refs/*"]
	read = group user/bsedyang
	push = group user/bsedyang
	label-Code-Review = -2..+2 group user/bsedyang
	label-Verified = -1..+1 group user/bsedyang
	rebase = group user/bsedyang
	removeReviewer = group user/bsedyang
	submit = group user/bsedyang
[access "refs/heads/*"]
	read = group user/bsedyang
	create = group user/bsedyang
	push = +force group user/bsedyang
	pushMerge = group user/bsedyang
[access "refs/tags/*"]
	push = group user/bsedyang
	push = +force group user/bsedyang
